.icon-button {
    background: none;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    color: #000; /* Change the color as needed */
  }
  
  .icon-button:focus {
    outline: none;
  }

  .sound p{
    margin-top: 150px;
    color: red;
    border: 1px solid black;
    width: 22%;
    padding: -10px ;
    margin-left: 90px;
  }

  .sound1 p{
    color: red;
    border: 1px solid black;
    border-radius: 8px;
    width: 20%;
    padding: -10px ;
    margin-left: 760px;
    margin-top: 50px;
  }

 

 